
@use '_mixins' as *;
.sobre-container {

  margin-top: 12rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  transition: opacity 0.3s ease-out;
  will-change: opacity;
  margin-bottom: 2rem;

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 1.7;
    opacity: 0.85;
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }

  .list {
    padding-left: 1.5rem;
    line-height: 1.9;

    li {
      margin-bottom: 0.4rem;
    }
  }

  .links {
    margin-top: 1rem;

    a {
      margin-right: 1rem;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        filter: brightness(1.4);
      }
    }
  }

}
@include mobile {
  .sobre-container{
    margin-top: 11rem;
    margin-left: 1rem;
    line-height: 1.7;
    opacity: 0.85;
    width: 100%;
  .text{
font-size: 1rem;
    text-align: justify;
    width: 92%;
  }
  .title{
    font-size: 1.4rem;
    
  }
  }

}
@include mobile-landscape {
  .sobre-container{
    margin-top: 6.5rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    opacity: 0.85;
    width: 100%;

      .title{
    font-size: 2.4rem;
  }

  }


  .sobre-container h2{
    font-size: 1rem;
    text-align: justify;
  }

 .sobre-container  .text{
    font-size: 1.2rem;
    width: 70%;
  }
}
