
@use '_mixins' as *;
.projetos-container {

 margin-top: 12rem;
 margin-left: 3rem;
 margin-right: 3rem;

 .title {

   font-size: 2rem;
  margin-bottom: 1.2rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    .card {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      gap: 1.5rem;
      border-radius: 10px;
      transition: 0.3s;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(6px);

      h3 {
        margin-bottom: 0.5rem;
      }

      .card-link {
        display: inline-block;
        margin-top: 1rem;
        font-weight: bold;
      }

      &:hover {
        transform: translateY(-4px);
        filter: brightness(1.2);
      }


    .card-content {
    flex: 1;
    }
    .card-img {
    width: 35%;
    max-width: 280px;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border-radius: 8px;
    }

    .card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }


}

  }
}
@include mobile{
  .projetos-container{
    font-size: 1rem;
    width: 22rem;
    margin-top: 12rem;
.grid .card img{

        width: 200px;
        height: 400px;
        object-fit: cover;

}
.title{
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
}
}
@include mobile-landscape{
  .projetos-container{
    margin-top: 11.5rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    opacity: 0.85;
    width: 90%;

  }
}
